@model SpellShare.ViewModels.AssignStudentsViewModel
@{ 
    ViewData["Title"] = "Assign Students";
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <h2>Assign Students</h2>
        <form>
            <div class="form-group">
                <label asp-for="SpellingGroupId">Select the Spelling Group to assign student:</label>
                <select asp-for="SpellingGroupId" asp-items="@(new SelectList(Model.SpellingGroups, "SpellingGroupId", "Name"))"  class="form-control" onchange="this.form.submit()" ></select>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <p class="text-danger">@ViewData["GroupMessage"]</p>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Select Students</div>
                <div class="panel-body">
                    <p>Click 'Add' to add these students to the group.</p>
                </div>
                <table class="table">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Select</th>
                    </tr>
                    @foreach (var student in Model.UnassignedStudents)
                    {
                        <tr>
                            <td>@student.FirstName</td>
                            <td>@student.LastName</td>
                            <td>
                                <form method="post" asp-action="AddStudentToGroup" asp-route-id="@student.StudentId">
                                    <input type="hidden" name="GroupId" value="@Model.ActiveSpellingGroup.SpellingGroupId" />
                                    <input type="submit" value="Add" class="btn btn-link" />
                                </form>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Grouped Students</div>
                <div class="panel-body">
                    <p>Click 'Remove' to remove these students from the group.</p>
                </div>
                <table class="table">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Select</th>
                    </tr>
                    @foreach (var student in Model.AssignedStudents)
                    {
                        <tr>
                            <td>@student.FirstName</td>
                            <td>@student.LastName</td>
                            <td>
                                <form method="post" asp-action="RemoveFromGroup" asp-route-id="@student.StudentId">
                                    <input type="hidden" name="GroupId" value="@Model.ActiveSpellingGroup.SpellingGroupId" />
                                    <input type="submit" value="Remove" class="btn btn-link" />
                                </form>
                            </td>
                        </tr>

                    }
                </table>
            </div>
        </div>
    </div>
</div>
